---
import { getCollection } from 'astro:content';
import App from '../../layouts/App.astro';
import { Picture } from "astro-imagetools/components";

const members = (await getCollection('mitglieder'));
console.log("🚀 ~ file: index.astro:7 ~ members:", members[0].data.authorimage)
---
<App>
	<main class="container mx-auto px-2 py-4">
		<section>
				{
					members.map(({data:{ name,position,stammtisch, authorimage}}) => (
						<div>{authorimage && <div  class="not-prose"><Picture alt={name} src={authorimage} /></div>}</div>
						<div>{name}, {position}, {stammtisch}</div>
					))
				}
		</section>
	</main>
</App>
<style>
	ul {
		list-style-type: none;
		padding: unset;
	}
	ul li {
		display: flex;
	}
	ul li :global(time) {
		flex: 0 0 130px;
		font-style: italic;
		color: #595959;
	}
	ul li a:visited {
		color: #8e32dc;
	}
	section {
		@apply container mx-auto;
	}
</style>