---
import { getCollection } from "astro:content";
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
import HpCard from "../components/HpCard.astro";
import BadgeMini from "../components/BadgeMini.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection('start')).sort(
	(a, b) => a.data.order.valueOf() - b.data.order.valueOf()
);

const pastEvents = (await getCollection("berichte")).sort(
  (a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf(),
);

const now = new Date().setHours(0, 0, 0, 0);

const dateInPast = (date: Date) =>
  date.setHours(0, 0, 0, 0) >= now;

// TODO Events + News
const events = (await getCollection('veranstaltungen')).filter((ev) => dateInPast(ev.data.eventDate)).sort(
	(a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf()
).reverse();
---

<App>
  <HpStage />
  <div class="main container grid gap-4 mx-auto p-4 overflow-hidden">
	<aside class="news flex flex-col gap-4">
		<HpCard>
			<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold">Aktuelles</h2>
			</div>
				<ul class="whitespace-nowrap">
					<li class="">
						<span class="inline-flex flex-col gap-2 overflow-hidden max-w-full block py-2">
							<div>
								<BadgeMini>
									<span class="font-semibold"><span class="day">So,</span><span>20.10.2023</span></span>
								</BadgeMini>
							</div>
							<a href="/berichte/2023-10-03-kinder-wanderung/">
								<span class="overflow-hidden text-ellipsis">Neue Website online langer Satz hier!</span>
							</a>
						</span>
					</li>
				</ul>
		</HpCard>
		<HpCard>
			<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold">Veranstaltungen</h2>
				<a class="text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200" href="/veranstaltungen/" title="Alle Veranstaltungen anzeigen">Alle Termine                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><path fill="currentColor" d="m224.49 136.49l-72 72a12 12 0 0 1-17-17L187 140H40a12 12 0 0 1 0-24h147l-51.49-51.52a12 12 0 0 1 17-17l72 72a12 12 0 0 1-.02 17.01Z"/></svg>                  </span>
				</a>
			</div>
				<ul class="whitespace-nowrap">
					{
						events.map((event) => (
							<li>
								<a href={`/veranstaltungen/${event.slug}/`} title={event.data.title} class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2">
									<BadgeMini>
										<span class="font-semibold"><span class="day">{event.data.eventDate.toLocaleDateString("de-DE", { weekday: 'short' })},</span><span><FormattedDate date={event.data.eventDate} /></span></span>
									</BadgeMini>
									<span class="underline underline-offset-2 decoration-slate-300 hover:decoration-slate-500 overflow-hidden text-ellipsis">{event.data.title}</span>
								</a>
							</li>
						))
					}
				</ul>
		</HpCard>
		<HpCard>
			<div class="flex gap-2 justify-between items-center" slot="title">
				<h2 class="font-bold">Berichte</h2>
				</a>
			</div>
				<ul class="whitespace-nowrap">
					{
						pastEvents.map((event) => (
							<li>
								<a href={`/berichte/${event.slug}/`} title={event.data.title} class="inline-flex flex-row gap-2 overflow-hidden max-w-full block py-2">
									<BadgeMini>
										<span class="font-semibold"><span class="day">{event.data.eventDate.toLocaleDateString("de-DE", { weekday: 'short' })},</span><span><FormattedDate date={event.data.eventDate} /></span></span>
									</BadgeMini>
									<span class="underline underline-offset-2 decoration-slate-300 hover:decoration-slate-500 overflow-hidden text-ellipsis">{event.data.title}</span>
								</a>
							</li>
						))
					}
				</ul>
		</HpCard>
	</aside>
	<main class="content prose py-4">
<!-- 		
		<h1>Coletion site settings:</h1>
		<h3>startseite</h3>
		<ul>
			<li>Generell der Title</li>
			<li>title in der Bühne</li>
			<li>Aktuelles (datum und richtext)</li>
		</ul>
		<h3>Öffnungszeiten</h3>
		<ul>
			<li>Richtext ul LIs</li>
		</ul>
		<h3>Kontakt</h3>
	<p>Kommt in Sportheim, Footer, Impressum</p>
		<ul>
			<li>anschrift, straße, plz, ort, tel, mail</li>
		</ul> -->

		{
			posts.map(async (post) => {
            	const { Content } = await post.render();
            	return (
						<Content />
				)
          	})
		}
	</main>
  </div>
</App> 

<style>
	.day {
		display: inline-block;
		width: 3ch;
	}
	aside {
		min-width: 0; /* grid hacky */
	}

	@media (max-width:767px) {
		.main {
			grid-area: main;
			grid-template-areas:
			  "news"
			  "content"
			  "sidebar";
			grid-template-columns: 1fr;
			grid-template-rows: 2fr;
		  }
		  .content {
			grid-area: content;
		  }
		  aside {
			grid-area: sidebar;
		  }
		  aside.news {
			grid-area: news;
		  }

	}
	@media (min-width: 768px) {
		.main {
			grid-area: main;
			grid-template-areas:
			  "content content sidebar";
			grid-template-columns: 2fr 2fr 3fr;
			grid-template-rows: 1fr;
		  }
		  .content {
			  grid-area: content;
			}
			aside {
				grid-area: sidebar;
			}
		}
		
		@media (min-width: 1280px) {
		.main {
			grid-template-columns: 1fr 1fr 1fr;
		  }

	}
</style>