---
import HpStage from "../components/HpStage.astro";
import App from "../layouts/App.astro";
import { Img } from "astro-imagetools/components";
import FormattedDate from "../components/FormattedDate.astro";
import BadgeMini from "../components/BadgeMini.astro";

const wanderTitle = "Wanderung für Kids";
const wanderEventDate= new Date("2023-10-21T11:30:23.138Z");
const wanderLocation = "Sportheim";
const wanderHeroImage = "/assets/wanderung_fuer_kids_tel.jpeg";
const essenTitle = "Veganes Mittagessen";
const essenEventDate= new Date("2023-11-05T11:00:23.138Z");
const essenLocation = "Sportheim";
const essenHeroImage = "/assets/veganer-braten-23.jpg";
---

<App>
  <HpStage />
  <div class="main container grid gap-4 mx-auto p-4 overflow-hidden">
	<main class="content prose py-4 mx-auto">
        <h1>Die neue Webseite ist fast bereit</h1>
        <p>Ihr seht die neue Webseite! Allerdings sind noch nicht alle Inhalte jetzt schon bereit. Deshalb kommt die Tage gerne noch einmal vorbei, sobald wir alles komplett veröffentlicht haben. Bis dahin seht ihr hier schonmal die kommenden Veranstaltungen:</p>
        <h2>Kommende Veranstaltungen</h2>
        <section class="not-prose">
            <ul class="grid grid-cols-1 gap-4">
                <li>
                    <a
                        class="flex gap-4 w-full bg-white rounded-lg p-4 border border-slate-200 hover:shadow"
                        href="/veranstaltungen/2023-10-03-kinder-wanderung/"
                        title={wanderTitle}
                    >
                        <div class="w-32 md:w-80 rounded overflow-hidden">
                            <Img
                            fit="cover"
                            width="320"
                            height="320"
                            alt={wanderTitle}
                            src={wanderHeroImage}
                            breakpoints={[100, 320]}
                            sizes="(min-width: 900px) 320px, 80px"
                            />
                        </div>
                        <div class="flex flex-col justify-between gap-2 w-full">
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-bold">{wanderTitle}</h2>
                                <div class="flex flex-wrap gap-4 gap-y-2">
                                    <BadgeMini>
                                        <b>Am:</b>
                                        {wanderEventDate.toLocaleDateString("de-DE", {
                                        weekday: "short",
                                        })}
                                        ,
                                        <FormattedDate
                                        date={wanderEventDate}
                                        time={true}
                                        />
                                    </BadgeMini>
                                    {wanderLocation && (
                                        <BadgeMini>
                                        <strong>Ort:</strong> {wanderLocation}
                                        </BadgeMini>
                                    )}
                                </div>
                                <p>
                                    Wir möchten den Kindern ihre Heimat zeigen ...
                                </p>
                            </div>
                            <span class="self-end text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200">
                                Mehr erfahren
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 256 256"
                                >
                                <path
                                    fill="currentColor"
                                    d="m224.49 136.49l-72 72a12 12 0 0 1-17-17L187 140H40a12 12 0 0 1 0-24h147l-51.49-51.52a12 12 0 0 1 17-17l72 72a12 12 0 0 1-.02 17.01Z"
                                />
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a
                        class="flex gap-4 w-full bg-white rounded-lg p-4 border border-slate-200 hover:shadow"
                        href="/veranstaltungen/2023-11-05-veganes-mittagessen/"
                        title={essenTitle}
                    >
                        <div class="w-32 md:w-80 rounded overflow-hidden">
                            <Img
                            fit="cover"
                            width="320"
                            height="320"
                            alt={essenTitle}
                            src={essenHeroImage}
                            breakpoints={[100, 320]}
                            sizes="(min-width: 900px) 320px, 80px"
                            />
                        </div>
                        <div class="flex flex-col justify-between gap-2 w-full">
                            <div class="flex flex-col gap-2">
                                <h2 class="text-xl font-bold">{essenTitle}</h2>
                                <div class="flex flex-wrap gap-4 gap-y-2">
                                    <BadgeMini>
                                        <b>Am:</b>
                                        {essenEventDate.toLocaleDateString("de-DE", {
                                        weekday: "short",
                                        })}
                                        ,
                                        <FormattedDate
                                        date={essenEventDate}
                                        time={true}
                                        />
                                    </BadgeMini>
                                    {essenLocation && (
                                        <BadgeMini>
                                        <strong>Ort:</strong> {essenLocation}
                                        </BadgeMini>
                                    )}
                                </div>
                                <p>
                                    Es erwartet Sie ein veganes Mittagessen im Oberfüllbacher Sportheim ...
                                </p>
                            </div>
                            <span class="self-end text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200">
                                Mehr erfahren
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                viewBox="0 0 256 256"
                                >
                                <path
                                    fill="currentColor"
                                    d="m224.49 136.49l-72 72a12 12 0 0 1-17-17L187 140H40a12 12 0 0 1 0-24h147l-51.49-51.52a12 12 0 0 1 17-17l72 72a12 12 0 0 1-.02 17.01Z"
                                />
                                </svg>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
          </section>
    </main>
  </div>
</App> 
