---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import App from "../../layouts/App.astro";
import { Picture } from "astro-imagetools/components";
import BadgeMini from "../../components/BadgeMini.astro";

const events = (await getCollection("veranstaltungen"))
  .sort((a, b) => a.data.eventDate.valueOf() - b.data.eventDate.valueOf())
  .reverse();
---

<App>
  <main class="container mx-auto p-4">
    <section>
      <ul class="grid grid-cols-1">
        {
          events.map((event) => (
            <li>
              <a
                class="flex gap-4 w-full bg-white rounded-lg p-4 my-4 border border-slate-200 hover:shadow"
                href={`/veranstaltungen/${event.slug}/`}
                title={event.data.title}
              >
                {event.data.heroImage && (
                  <div class="rounded overflow-hidden">
                    <Picture
                      width="200"
                      alt="Titelbild"
                      src={event.data.heroImage}
                    />
                  </div>
                )}
                <div class="flex flex-col gap-2 w-full">
                  <div class="prose">
                    <h2 class="">{event.data.title}</h2>
                  </div>
                  <div class="flex flex-wrap gap-4 gap-y-2">
                    <BadgeMini>
                      <b>Am:</b>
                      {event.data.eventDate.toLocaleDateString("de-DE", {
                        weekday: "short",
                      })},<FormattedDate date={event.data.eventDate} time={true} />
                    </BadgeMini>
                    {event.data.location && (
                      <BadgeMini>
                        <strong>Ort:</strong> {event.data.location}
                      </BadgeMini>
                    )}
                  </div>
                  <span class="justify-self-end self-end text-xs text-center font-semibold inline-flex gap-2 items-center py-2 px-4 justify-center rounded-full bg-slate-100 hover:bg-slate-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><path fill="currentColor" d="m224.49 136.49l-72 72a12 12 0 0 1-17-17L187 140H40a12 12 0 0 1 0-24h147l-51.49-51.52a12 12 0 0 1 17-17l72 72a12 12 0 0 1-.02 17.01Z"/></svg>                  </span>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</App>
<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  section {
    @apply container mx-auto;
  }
</style>
