---
import { CollectionEntry, getCollection } from 'astro:content';
import EventPost from '../../layouts/EventPost.astro';

export async function getStaticPaths() {
	const allBerichte = await getCollection('berichte');
	const allVeranstaltungen = await getCollection('veranstaltungen');

	return allBerichte.map((event) => {
		const tags = event.data.tags ?? [];
		const related = tags.length > 0
			? [
				...allBerichte.filter(
					(b) => b.slug !== event.slug && (b.data.tags ?? []).some((t) => tags.includes(t))
				),
				...allVeranstaltungen.filter(
					(ev) => (ev.data.tags ?? []).some((t) => tags.includes(t))
				),
			].sort((a, b) => b.data.eventDate.getTime() - a.data.eventDate.getTime())
			: [];
		return {
			params: { slug: event.slug },
			props: { event, relatedItems: related },
		};
	});
}

type Props = { event: CollectionEntry<'berichte'>; relatedItems: (CollectionEntry<'berichte'> | CollectionEntry<'veranstaltungen'>)[] };

const { event, relatedItems } = Astro.props;
const { Content, headings } = await event.render();


---

<EventPost {...event.data} relatedItems={relatedItems}>
	<!-- <h1>{post.data.title}</h1>
	<ol>
		{headings.map(heading => 
			heading.depth == 2 && (<li><a href={`#${heading.slug}`} title={heading.text}>{heading.text}</a></li>)
		)}
	</ol> -->		
	<Content />
</EventPost>
