---
import type { CollectionEntry } from "astro:content";
import App from "./App.astro";
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import FormattedDate from "../components/FormattedDate.astro";
import BadgeMini from "../components/BadgeMini.astro";

// type Props = CollectionEntry<'blog'>['data'];

const { title, description, eventDate, heroImage, location } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/public/assets/**/*.{jpeg,jpg,png,gif,avif}');
const finalImageUrl = `/public${heroImage}`
if (!images[finalImageUrl]) throw new Error(`"${finalImageUrl}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`);
---

<App title={title} description={description} image={heroImage}>
  <main>
    <div class="stripe-wrapper">
      <div class="stripe bg-red-700 border-t-red-700 border-b-neutral-950">
      </div>
    </div>
    <article class="container mx-auto px-2">
      <div
        class="prose prose-img:rounded-xl mx-auto -mt-30 pt-1 md:pt-8 lg:pt-8"
      >
        {
          finalImageUrl && (
            <div class="m-4 md:m-0 not-prose rounded overflow-hidden">
              <Image
                src={images[finalImageUrl]()}
                widths={[100, 200, 300, 500, 800]}
                sizes={`(max-width: 360px) 100px, (max-width: 460px) 200px,(max-width: 560px) 300px,(max-width: 660px) 500px, 800px`}
                alt=""
              />
            </div>
          )
        }
      </div>
      <div class="prose mx-auto">
        <div class="py-4">
          <BadgeMini>
            <b>Am:</b>
            {
              eventDate.toLocaleDateString("de-DE", { weekday: "short" })
            },<FormattedDate date={eventDate} time={false} />
          </BadgeMini>
          {
            location && (
              <BadgeMini>
                <strong>Ort:</strong> {location}
              </BadgeMini>
            )
          }
        </div>
        <div>

          <h1 class="text-4xl my-0">{title}</h1>
        </div>
        <div>
          <slot />
        </div>
      </div>
    </article>
  </main>
</App>

<style>
  .stripe-wrapper {
    position: relative;
  }
  .stripe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: 12vw;
    width: 100%;
    z-index: -1;
    background-image: url("/stripe.svg");
    background-size: 100% 8.1vw;
    background-position: 50%;
    background-repeat: no-repeat;
    border-style: solid;
    border-top-width: 2vw;
    border-bottom-width: 2vw;
  }
</style>
<style is:global>
  .prose p > img {
    width: 100%;
    display: block;
  }
</style>
